.box{
    height: 600px;
    width: 600px;
    border: 8px solid saddlebrown;
}

.list {
    list-style-type: none;
    font-size: 32px;

}

.heading{
    font-size: 40px;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}